# Files and folders are for server client and such #
########################################
crash-reports/
logs/
banned-ips.json
banned-players.json
eula.txt
ops.json
server.jar
server.properties
whitelist.json
*.bat
